.container {
    background-color: lightgray;
}

div > h1 {
    font-size: 32px;
    text-transform: uppercase;
}

div > p {
    font-size: 16px;
    line-height: 1.5;
}

ul li {
    font-size: 18px;
    text-transform: uppercase;
}

div a {
    color: white;
    background-color: blue;
    text-decoration: none;
}

